@import "vars";

.detail-header {
	position: relative;
	padding-bottom: $spacer-p1;
	margin-bottom: $spacer-p1;
	h1 {
		font-size: $font-p3;
		color: $main;
	}
	h2 {
		font-size: $font-p2;
	}
	&:after {
		content: "";
		display: block;
		width: 80%;
		height: 2px;
		position: absolute;
		bottom: 0;
		background-color: $main;
	}
}
