@import "vars";
::ng-deep.mdc-card {
	height: 100%;
	.mat-mdc-card-header {
		padding-bottom: $spacer;
		margin-bottom: $spacer;
		position: relative;
		cursor: pointer;
		&:after {
			content: "";
			display: block;
			width: 80%;
			height: 2px;
			position: absolute;
			bottom: 0;
			background-color: $main;
		}
	}
	.mat-mdc-card-title {
		color: $main;
	}
	.mdc-card__actions {
		margin-top: auto;
		button + button {
			margin-left: $spacer;
		}
	}
}
.text {
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	position: relative;
}

.chips {
	position: relative;
	overflow: hidden;
	flex-wrap: nowrap;
	li:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 20px;
		background: linear-gradient(90deg, rgba($white,0) 0%, rgba($white,1) 100%);
	}
}
