@import "vars";
:host {
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	box-shadow: 0 2px 4px 0 $grey-p1;
	background-color: white;
	h1 {
		font-size: $font-p3;
		font-weight: $bold;
	}
}
